*{
    box-sizing: border-box;
}
html,body{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    place-items: center;
    }
main,header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    color: orange;
}
button,#disp2{
    background-color: orange;
    border: none;
}